.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(50, 50, 50);
}

.main-container {
  width: 90%;
  height: auto;
  min-height: 100%;
  margin: 50px 0px;
}

.archive-list-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.archive-list {
  width: 98%;
  background-color: rgb(255, 255, 255);
}

.rightsider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.rightsider-card {
  width: 100%;
  min-height: 500px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

.rightsider-card-title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.65);
}

.rightsider-card-content li {
  height: 40px;
  list-style: none;
  line-height: 40px;
  padding: 0px 20px;
  font-size: 18px;
}

.rightsider-card-content li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 1);
}

.rightsider-card-content a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}

.rightsider-card-content span {
  color: inherit;
  float: right;
}
