.blog-article-banner {
  width: 98%;
  height: 110px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.65);
  background-color: rgb(255, 255, 255);
}

.blog-article-banner h2 {
  font-size: 16px;
  padding-left: 20px;
  line-height: 50px;
}

.blog-article-banner p {
  font-size: 14px;
  padding-left: 20px;
  line-height: 50px;
}

.blog-article-item {
  padding: 30px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.65);
  background-color: rgb(255, 255, 255);
}

.blog-article-item-title {
  height: 50px;
  font-size: 1.8em;
}

.blog-article-item-title a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.blog-article-item-label {
  display: inline-block;
  height: 30px;
  font-size: 1.3em;
}

.blog-article-item-time {
  display: inline-block;
  height: 30px;
  font-size: 1.3em;
}

.blog-article-label {
  display: inline;
  margin: 0px 5px;
}

.blog-article-label a {
  padding: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  line-height: 2;
}

.blog-article-item-label i {
  margin-left: 5px;
}

.blog-article-item-desc {
  font-size: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.blog-article-item-desc-more {
  float: right;
}

.blog-article-item-desc-more a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.blog-article-paging {
  width: 98%;
  height: 50px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.ant-pagination-item:hover {
  border-color: rgb(50, 50, 50);
}

.ant-pagination-item:hover a {
  color: rgb(50, 50, 50);
}

.ant-pagination-item-active {
  background-color: rgb(50, 50, 50);
  border-color: rgb(50, 50, 50);
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
  background-color: rgb(50, 50, 50);
  border-color: rgb(50, 50, 50);
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover a {
  color: rgb(255, 255, 255);
}

.ant-pagination-prev:hover, .ant-pagination-next:hover {
  color: rgb(50, 50, 50);
  border-color: rgb(50, 50, 50);
}
