.blog-article-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-article-banner {
  width: 95%;
  height: 110px;
  border-bottom: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.blog-article-banner h2 {
  font-size: 16px;
  padding-left: 20px;
  line-height: 50px;
}

.blog-article-banner p {
  font-size: 14px;
  padding-left: 20px;
  line-height: 50px;
}

.blog-article-list {
  width: 95%;
}

.blog-article-item {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.blog-article-item-title {
  height: 50px;
  padding-left: 20px;
  font-size: 2em;
  line-height: 50px;
}

.blog-article-item-title a {
  text-decoration: none;
  color: black;
}

.blog-article-item-label {
  display: inline-block;
  height: 30px;
  padding-left: 10px;
  font-size: 1.3em;
  line-height: 30px;
}

.blog-article-item-time {
  display: inline-block;
  height: 30px;
  padding-left: 20px;
  font-size: 1.3em;
  line-height: 30px;
}

.blog-article-label {
  display: inline;
  margin: 0px 5px;
}

.blog-article-label a {
  padding: 8px;
  text-decoration: none;
  color: white;
  line-height: 2;
}

.blog-article-item-label i {
  margin-left: 5px;
}

.blog-article-item-desc {
  padding: 0px 20px;
  padding-top: 10px;
  font-size: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: no-wrap;
}

.blog-article-paging {
  width: 95%;
  height: 50px;
  line-height: 50px;
  font-size: 1.3em;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
