.blog-rightsider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-rightsider-archive {
  width: 95%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  transition: transform 0.25s ease;
}

.blog-rightsider-archive a{
  display: block;
  font-size: 20px;
  text-decoration: none;
  color:black;
}

.blog-rightsider-archive:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.blog-rightsider-categorycard{
  width: 95%;
  height:500px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

.blog-rightsider-categorycard-title{
  height:50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color:black;
  border-bottom: 1px solid black;
}

.blog-rightsider-label{
  width: 95%;
  height:500px;
  margin-top: 15px;
  background-color: rgb(255, 255, 255);
}

.blog-rightsider-label-title{
  height:50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color:black;
  border-bottom: 1px solid black;
}
