.home-card-area {
  width: 100%;
  height: 500px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-card {
  width: 400px;
  height: 80%;
  max-height: 400px;
  border-radius: 100px;
  /*transition: transform 0.25s ease;*/
}


/* 卡片放大效果 */


/*.home-card:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}*/

.home-card-name {
  width: 100%;
  height: 20%;
  padding: 0;
  background-color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s ease;
}

.home-card-name:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.home-card-name a {
  display: block;
  color: rgb(51, 51, 51);
}

.home-card-content {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: black;
}

.home-card-content ul {
  text-align: center;
}

.home-card-content li {
  margin-top: 5px;
}

.home-card-content li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.home-card-content li a:hover {
  color: rgb(19, 218, 236);
}
