@import './color.scss';

body,
html {
  width: 100%;
  height: 100%;
  background-color: $background;
  font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}