@import '../../../static/style/color.scss';

.tip {
  padding: 0 30px;
  margin-bottom: 10px;
  .container {
    border: 1px solid $level1;
    .title {
      background-color: $level1;
      color: $level4;
      font-size: 14px;
      text-align: center;
      padding: 6px 0;
    }
    .content {
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: $level1;
      font-size: 12px;
    }
  }
}